# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Pyinstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.toml
.cache
.pytest_cache/
.rasterio/
.mypy_cache/
.pytest_cache/

# Environments
.env
.env.production
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# JetBrains IDEs
.idea/
# VS Code
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS artifacts
.DS_Store
Thumbs.db

# Project Speciic Machine Learning Cache
backend/ml/models_cache/*.h5
!backend/ml/models_cache/cnn_disease_v1.h5
backend/storage/uploads/*
!backend/storage/uploads/.gitkeep